/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-boy {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-girl {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
}
.icon-birth {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -32px;
  width: 18px;
  height: 18px;
}
.icon-sex {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -50px;
  width: 18px;
  height: 18px;
}
.icon-name {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -68px;
  width: 18px;
  height: 18px;
}
.icon-mobile {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -86px;
  width: 18px;
  height: 18px;
}
.icon-view {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -104px;
  width: 18px;
  height: 18px;
}
.icon-tab {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -122px;
  width: 18px;
  height: 18px;
}
.icon-fabulous {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -140px;
  width: 24px;
  height: 24px;
}
.icon-comment {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -164px;
  width: 24px;
  height: 24px;
}
.icon-fabulous_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -188px;
  width: 24px;
  height: 24px;
}
.icon-sort {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -212px;
  width: 24px;
  height: 24px;
}
.icon-collect {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -236px;
  width: 28px;
  height: 28px;
}
.icon-collect_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -264px;
  width: 28px;
  height: 28px;
}
.icon-talk {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -292px;
  width: 32px;
  height: 32px;
}
.icon-home_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -324px;
  width: 32px;
  height: 32px;
}
.icon-home {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -356px;
  width: 32px;
  height: 32px;
}
.icon-talk_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -388px;
  width: 32px;
  height: 32px;
}
.icon-center_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -420px;
  width: 32px;
  height: 32px;
}
.icon-center {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -452px;
  width: 32px;
  height: 32px;
}
.icon-left {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -484px;
  width: 32px;
  height: 32px;
}
.icon-notice {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -516px;
  width: 32px;
  height: 32px;
}
.icon-publish {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -548px;
  width: 34px;
  height: 34px;
}
.icon-publish_select {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -582px;
  width: 34px;
  height: 34px;
}
.icon-head {
  background-image: url(../../assets/sprites/sprite.png);
  background-position: 0px -616px;
  width: 51px;
  height: 50px;
}
