.am-navbar-light{
    color:#2c2c2c;
    border-bottom: 1px solid #E8E8E8;
}
.am-list-item .am-list-line .am-list-content{
    color: #8a8a8a !important;
}

//list右侧extra 宽度变宽
.am-list-item .am-list-line .am-list-extra{
    flex-basis: 45%;
}

//性别男女按钮样式
.my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}


//发布list样式去掉底部
.publishPage{
    .am-list-body{
        &:before{
           opacity: 0;
        }
    }
}

//评论 列表 --通告
.am-card-header-content{
    img{
        width: 30px;
        height: 30px;
        border-radius:50%;
    }
}
.am-card{
    &::before{
        opacity: 0;
    }
}
.am-card-body{
    &::before{
        opacity: 0;
    }
}

//动态展示页 去除多余的border
.noteInfo{
    .am-list-body{
        &::before{
            opacity: 0;
        }
    }
    .am-list-item.am-list-item-middle{
        &::after{
            opacity: 0;
        }
    }
}