.am-navbar-light{
    color:#2c2c2c;
    border-bottom: 1px solid #E8E8E8;
}
.am-list-item .am-list-line .am-list-content{
    color: #8a8a8a !important;
}

//list右侧extra 宽度变宽
.am-list-item .am-list-line .am-list-extra{
    flex-basis: 45%;
}

.my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }