.AuthPage{
    .bgpage{
        width: 100%;
        height: 100vh;
        background: url(../assets/login/bg_login.png) center;
        background-size: 100% 100%;
        filter:brightness(0.7);
        position: fixed;
    }
    .loginLogo{
        position: absolute;
        width: 300px;
        height: 200px;
        top: 25%;
        background: url(../assets/login/logo.png) center no-repeat;
        background-size: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loginButton{
        position: absolute !important;
        width: 75%;
        bottom: 15%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        background: #04E0E1;
        border-radius: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        color: black;
    }
    .register{
        font-size: 20px;
        position: absolute;
        color: white;
        bottom: 5%;
        right: 10%;
    }
}