.headPart{
    padding:25px 10px;
    background-color: whitesmoke;
    .icon-head{
        border-radius: 50%;
        border: 1px solid #8a8a8a;
        display: inline-block;
        margin: 0 1rem;
    }
    .infoParts{
    }
}