.icon-logo{
    background: url('../assets/login/logo3.png') center no-repeat;
    width: 49px;
    height: 27px;
    background-size: 100% 100%;
}
.am-search {
    border-bottom: 1px solid #ddd;
    background:none !important;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }
.am-search-cancel{
    color: #2c2c2c !important;
}
.space-carousel {
    overflow: hidden;
}
.slider.am-carousel.space-carousel{
z-index: 1;
}
.icon-sort{
    display: inline-block;
    vertical-align: middle;
}
.breifList{
  height: auto;
  column-count: 2; column-gap: 10px;
  padding: 10px;
  counter-reset: item-counter;
  margin-bottom: 50px;
 // display: flex; flex-flow: column wrap; width: 100%; height: 800px;
}

.briefCard{
    width: 11rem;
    min-height: 13rem;
    min-height: 15rem;
    box-sizing: border-box;
    break-inside: avoid;//为了控制文本块分解成单独的列，以免项目列表的内容跨列，破坏整体的布局
    counter-increment: item-counter;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
    .briefGraph{
        width: 100%;
        min-height: 10rem;
    }  
    .briefTitle{
        font-size: 18px;
        margin-bottom: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
    }
    .briefDetil{
        padding: 10px;
        .briefInfos{
            overflow: hidden;
            p{
                display: inline-block;
                vertical-align: middle;
            }
            .briefimg{
                display: inline-block;
                vertical-align: middle;
                &.head{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
          }
          .briefInfo.left{
            float: left;
          }
          .briefInfo.right{
            float: right;
        }
    }
}

@media (min-width:600px){
    .breifList{
        column-count: 3;
    }
}
@media (min-width:1200px){
    .breifList{
        column-count: 4;
    }
}

.noteInfo{
    background:white;
    margin-bottom: 50px;
    .noteContent{
        padding: 1rem;
        font-size: 18px;
    }
    .noteNumber{
        padding: 1rem;
        .briefimg{
        margin-left: 1rem;
    }
    }

}
