@import './sprites/sprite.css';
@import './antd.scss';
// @import './sprites/sprite_logo.css';
$greycolor : #A8A8A8;

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Microsoft YaHei';
    //background: white;
    height: 100vh;
}
p{
    margin-bottom: 0px;
}
.allBtn{

}