@import './sprites/sprite.css';
@import './antd.scss';
// @import './sprites/sprite_logo.css';

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Microsoft YaHei';
    background: white;
    height: 100vh;
}

.allBtn{

}