.publishPage{
    background: white;
    height: 100vh;
    .am-list-header{
        padding-bottom: 0px;
    }
    .am-list-body{
        &::before{
            opacity: 0;
        }
        color:#515151;
    }
    .publishbutton{
        border: none;
        padding: .3rem .7rem;
        border-radius: 2px;
        color: #fff;
        background-color: #4DD865;
    }
}

#container{
    height:50%;
    width:100%;
    .info{
        width:26rem;
    }
}


.addressList{
    height:44%;
    overflow-y: scroll;
    .am-flexbox{
        padding: 5px;
  }
    .flex{
        height: 3.2rem;   
        border-bottom: .5px solid #DADADA;
        padding: 1rem;
        p{
            text-align: left;
        }
        p:first-child{
            font-size: .9rem;
            font-weight: bold;
            margin-bottom: .2rem;
        }
        p:nth-child(2){
            font-size: .8rem;
            color:#A8A8A8;
        }
    }
    .selected{
        p{
            color:#3192FE;
        }
        p:nth-child(2){
            color:#3192FE;
        }
    }
}
.publishTitle{
    font-size: 22px;
}
.am-image-picker-list .am-image-picker-upload-btn{
    background-color: #F2F2F2 !important;
    border: none !important;
    &::before{
        background-color: #B2B2B2 !important;
    }
}
.am-list .am-list-item.am-textarea-item{
    border-bottom:none !important;
}
.am-list-item.am-textarea-item{
    &::after{
        opacity: 0;
    }
}