.publishPage{
    background: white;
    height: 100vh;
    .am-list-header{
        padding-bottom: 0px;
    }
    .am-list-body{
        &::before{
            opacity: 0;
        }
    }
}

#container{
    height:50%;
    width:100%;
    .info{
        width:26rem;
    }
    // .markerlnglat{
    //     width: 25px;
    //     height: 34px;
    // }
    // .amap-marker .amap-icon img:first-child {
    //     width: 25px;
    //     height: 25px;
    // }
}