@import './main.scss';
.chatlist{
    .am-search{
        border-bottom:none;
    }
}
.chatinfo{
    .chatFooter{
        position: fixed;
        width: 100%;
        bottom: 0px;
        .am-input-control{
            input{
                border: 1px solid #A8A8A8;
                padding-left: 10px;
            }
        }
    }
    .chatList{
        padding: 0px 15px 0px 12.5px;
        font-size: 17px;
        margin: 5px 0 ;
        overflow: hidden;
        p{
          max-width: 220px;
          background-color: white;
          padding: 10px;
          display: inline-block;
          border-radius: 10px;
          margin:0 5px;
        }
        img{
          width: 37px;
          height: 37px;
          border-radius: 50%;
        }
      }
      .chatList.left{
        p{
          background: wheat;
        }
  
        *{
          float: left;
        }
      }
      .chatList.right{
        p{
          background: #6BE61A;
        }
        *{
          float: right;
        }
      }
}
.userlList{
  background: #ffffff;
  padding: 6px;
  border-bottom: .5px solid #E8E8E8;
  img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: .5rem;
  }
  .detail{
      margin: 0.7rem;
      p{
        padding: 2px;  
        &:first-child{
          font-size: 1.1rem;
        } 
        &:last-child{
          color:$greycolor;
        }
      }
  }
  .time{
    flex: 1;
    text-align: right;
    margin-right: 1rem;
  } 
}